<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>
<!-- app/views/restaurants/index.html.erb -->
<% @companies.each do |company| %>
<h2><%= company.name %></h2>
<%= link_to company.name, company_path(company) %>

<% end %>


