<div class="container">
  <h1>Companies</h1>
  <p>List of all companies</p>
  <!-- app/views/restaurants/index.html.erb -->
  <% @companies.each do |company| %>
  <p>
    <%= link_to company.name, company_path(company) %>
  </p>
  <% end %>
  <%= link_to "New Company", new_company_path  %>
</div>
